VITE_API_BASE_URL=http://localhost:8000
VITE_FIREBASE_API_KEY=AIzaSyAUY3lkq-dA0NQXhLB5o9rys9DrEKzqCQw
VITE_FIREBASE_AUTH_DOMAIN=ai-powered-personalized-c81d6.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://ai-powered-personalized-c81d6-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=ai-powered-personalized-c81d6
VITE_FIREBASE_STORAGE_BUCKET=ai-powered-personalized-c81d6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=847736330512
VITE_FIREBASE_APP_ID=1:847736330512:web:84f1d45f27e33b2e9aad95
VITE_FIREBASE_MEASUREMENT_ID=G-Z0YYFX1JRY
